<view class="page">
  <!-- 图片 -->
  <view class="tup">
    <image src="{{src+thumb}}" style="width:100%" mode='widthFix' bindtap='imageload' data-src="{{src+thumb}}"></image>
  </view>
  <!-- 价格 -->
  <view class="zhengti">
    <view class="dier">
      <view class="wenzi">{{title}}</view>
      <view class="tan">
        <view class="ren">{{buy_number}}人已加入</view>
        <view class="ren">|</view>

        <view class="yuan">原价:\t￥{{productprice}}</view>
        <view class="huiyuan">会员:\t￥{{marketprice}}</view>
      </view>
    </view>
  </view>
  <!-- 介绍 -->
  <view class="jieshao">
    {{subtitle}}
  </view>
  <!-- 资料详情 -->
  <view class="zlxq">资料详情</view>
  <view class="jieshou">
    <view class="jieshao">
      <!-- <block wx:for="{{xiang}}" wx:for-index="idy" wx:for-item="cellData">
        <block wx:if="{{cellData.type == 'view'}}">
          <view class="p">
            <block wx:for="{{cellData.child}}" wx:key="text">
              <block wx:if="{{item.type == 'text'}}">
                <text class="a" data-seccode="{{item.attr['data-seccode']}}" data-secname="{{item.attr['data-secname']}}" bindtap="stockClick">{{item.text}}</text>
              </block>
              <block wx:else>
                <text>{{item.text}}</text>
              </block>
            </block>
          </view>
        </block>
        <block wx:if="{{cellData.type == 'img'}}">
          <image class="img" data-index="{{idy}}" style="height: {{cellData.attr.height?cellData.attr.height:0}}px" mode="aspectFit" src="{{cellData.attr.src}}" bindload="imageLoad"></image>
        </block>
      </block> -->
      <block wx:for="{{xiang}}" wx:for-index="idy" wx:for-item="cellData">
        <block wx:if="{{cellData.type == 'img'}}">
          <image src='{{cellData.attr.src}}' style="width:100%" mode='widthFix'  bindtap='imageload' data-src="{{cellData.attr.src}}"></image>
        </block>
        <block wx:if="{{cellData.type == 'view'}}">
          <view class="p">
            <block wx:for="{{cellData.child}}" wx:key="text">
              <block wx:if="{{item.type == 'text'}}">
                <text class="a" data-seccode="{{item.attr['data-seccode']}}" data-secname="{{item.attr['data-secname']}}" bindtap="stockClick" decode="true" space="true">{{item.text}}</text>
              </block>
              <!-- <block wx:else>
                      <text>{{item.text}}</text>
                    </block> -->
            </block>
          </view>
        </block>
        <!-- <block wx:if="{{cellData.type == 'img'}}">
                <image class="img" data-index="{{idy}}" style="height: {{cellData.attr.height?cellData.attr.height:0}}px" mode="aspectFit" src="{{cellData.attr.src}}" bindload="imageLoad"></image>
              </block> -->
      </block>
    </view>

    <image src=""></image>
  </view>
  <!-- 底部购买 -->
  <view class="dibu">
    <view class="sange">
      <view class="tup1" bindtap='dianshouc'>
        <image src="{{is_collect?'../../../utils/img/kwjx.png':'../../../utils/img/swjx.png'}}" style="height:30px;width:30px;margin:auto"></image>
      </view>
      <view class="tup1" bindtap="open">
        <image src="../../../utils/img/dianhua.png" style="height:30px;width:30px;margin:auto"></image>
      </view>
      <view class="tup1" bindtap="huiyuan">
        <image src="../../../utils/img/tzhuiyuan.png" style="height:30px;width:30px;margin:auto"></image>
      </view>
    </view>
    <view class="yige">
      <button class="buton" bindtap='zhifu'>立即购买</button>
    </view>
  </view>

</view>