/* pages/components/welcome/welcome.wxss */
.imgClass{
  width:100vw;
  height:100vh
}
.fuyuans{
  position: relative
}
.dianji{
  position: absolute;
  top:79%;
  left:27%;
  width:50%;
  height:40px;
  line-height: 40px;
  border:1px solid #cc1f26;
  border-radius: 5px;
  color:#cc1f26;
  background-color:#fff;
  text-align: center;
}

.input {
  width: 100%;
  height: 82rpx;
  font-size: 28rpx;
  line-height: 28rpx;
  padding: 0 20rpx;
  box-sizing: border-box;
  color: #333;
  border-bottom: 1px #333;
}
