<view class="weui-flex bianju">
  <view class="weui-flex__item">
    <view class="placeholder">
      <view class="hong">{{defen}}</view>
      <view class="xiao">得分</view>
    </view>
  </view>
  <view class="weui-flex__item zql">
    <view class="placeholder">
      <view class="hong">{{zongfen}}</view>
      <view class="xiao">总分</view>
    </view>
  </view>
  <view class="weui-flex__item">
    <view class="placeholder">
      <view class="hong">{{cuoti}}</view>
      <view class="xiao">错题数</view>
    </view>
  </view>
</view>
<view class="weui-cells weui-cells_after-title">
  <view class="weui-cell">
    <view class="weui-cell__bd">{{name}}</view>
    <!-- <view class="weui-cell__ft">说明文字</view> -->
  </view>
</view>
<view class="zhengti">
  <block wx:for="{{shuliang}}" wx:for-item="item">
    <view class="limian">
      <view class="yuan zq" wx:if="{{item.status == 1}}">{{item.code}}</view>
      <view class="yuan" wx:if="{{item.status == 2}}">{{item.code}}</view>
      <view class="yuan wtx" wx:if="{{item.status == 3}}">{{item.code}}</view>
    </view>
  </block>
</view>
<button class="weui-btn nihao13" type="warn" bindtap='close'>关闭</button>