<view class="page">
  <view class="weui-cells weui-cells_after-title">
    <view class="weui-cell">
      <view class="weui-cell__bd">
        <textarea class="weui-textarea bugou" placeholder="请输入您对我们的意见" style="height: 3.3em" />
        <view class="weui-textarea-counter">0/200</view>
      </view>
    </view>
  </view>
  <button class="weui-btn" type="warn">提交</button>
</view>